.wrapper {
  overflow-x: auto;
  margin-top: 5rem;
}
.container {
  padding: var(--padding-main-view);
}
.title {
  box-sizing: border-box;
  margin-block: 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(
    --font-family,
    CircularSpTitle,
    CircularSpTitle-Tall,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts, sans-serif)
  );
  color: var(--color-text-5);
  padding: 1rem 1rem 1rem 0rem;
}
