.main-view-container {
  display: flex;
  flex-direction: column;
}
.header-container {
  height: 320px;
  max-height: 500px;
  padding-top: 40px;
  min-height: 300px;
  background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%);
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  img {
    border: none;
    box-shadow: 0 8px 32px rgb(0 0 0);
    display: flex;
    justify-content: center;
    margin: 60px 60px 60px 70px;
    padding: 8px;
    text-align: center;
    width: 220px;
    height: 200px;
    align-content: center;
  }
}
.left-top {
  width: 25%;
}
.right-top {
  color: #fff;
  h4 {
    font-size: 0.75rem;
    font-weight: 700;
  }
  span {
    margin: 0.08em 0px 0.12em;
    visibility: visible;
    width: 100%;
    font-size: 6rem;
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 3.5rem;
    font-weight: 900;
    font-family: var(
      --font-family,
      CircularSpTitle,
      CircularSpTitle-Tall,
      CircularSp-Arab,
      CircularSp-Hebr,
      CircularSp-Cyrl,
      CircularSp-Grek,
      CircularSp-Deva,
      var(--fallback-fonts, sans-serif)
    );
  }
}
.container {
  margin-bottom: 120px;
  border-bottom: 1px solid #333;
}
