.wrapper {
  display: grid;
  grid-template-areas:
    "top-bar  "
    " main-view  ";

  grid-template-rows: auto 1fr;
  height: fit-content;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  width: 100%;
}
.content {
  grid-area: top-bar;
  height: 20vh;
  display: flex;
  justify-content: center;
}
.main-view {
  grid-area: main-view;
  display: flex;
  justify-content: center;
  height: 80vh;
}
.logo {
  display: flex;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
}

.muzic-logo {
  height: 13.5rem;
  margin-top: -3rem;
  max-width: 11.938rem;
  width: 100%;
 
  zoom: 1.2;

}
