.wrapper {
 
  overflow-x: auto;
  margin-top: 4rem;
}

.title {
  box-sizing: border-box;
  margin-block: 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(
    --font-family,
    CircularSpTitle,
    CircularSpTitle-Tall,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts, sans-serif)
  );
  color: var(--color-text-5);
  padding: 1rem 1rem 1rem 0rem;
}
.list-item {
  padding: 1.5rem 2rem;
}
.container-none{
  width: 100%;
  padding: 30px 0;
  min-height: 220px;
  background:var(--background-header);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

span{
  color: var(--color-text);
  margin-top: 1rem;
  font-size: var(--size-text-4);
}
}
i{
  width: 90px;
    height: 90px;
    background-image: url(https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.9.70/static/media/music-icon.cfa4aa91.svg);
}
.pa{
  margin-top: 2.5rem;
  margin-right: 2.5rem;
}