:root {
  --column-width: 181px;
  --column-count: 5;
  --grid-gap: 24px;
  --padding-card: 10px;
}
.content {
  padding:var(--padding-list) ;
}
.warrper {
  border-radius: 4px;
  -ms-flex: 1;
  flex: 1;
  isolation: isolate;
  position: relative;
  transition: background-color 0.3s ease;
  width: 100%;
}
.card {
  height: 100%;
 
}
.card-type {
  white-space: nowrap;
  max-height: 40px;
  padding-bottom: 16px;
  overflow-y: clip;
}
.card-top {

  position: relative;

}
.img-card {
  --card-image-border-radius: clamp(
    4px,
    (var(--column-width, 0px) - 32px) * 0.025,
    8px
  );
  border-radius: var(--card-image-border-radius);
  width: 100%;

  // box-shadow: 0 8px 32px rgb(0 0 0 / 100%);
  padding-bottom: 100%;
  position: relative;
}
.img-type-1 {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  --card-image-border-radius: clamp(
    4px,
    (var(--column-width, 0px) - 32px) * 0.025,
    8px
  );
  border-radius: var(--card-image-border-radius);
  width: 100%;
}
.img {
  object-fit: cover;

  object-position: center center;
}
.card-bottom {
  min-height: 62px;
  padding: 12px 10px;
}
.card-name {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}
.name {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin-block: 0px;
  font-size: 1rem;
  font-weight: 700;
  font-family: var(
    --font-family,
    CircularSp,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts, sans-serif)
  );
  padding-block-end: 4px;
  color: var(--color-text-5);
  &:hover {
   color:var(--color-3);
  }
}
.name-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.type {
  box-sizing: border-box;

  margin-block: 0px;
  font-size: 0.8125rem;
  font-weight: 400;
  font-family: var(
    --font-family,
    CircularSp,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts, sans-serif)
  );
  color: var(--color-text-3);
}
.type-text {
  overflow: hidden;
 
  white-space: normal;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
}

//btn-player
.hover-player {
  margin-bottom: 0;
  position: absolute;
  visibility: hidden;
  right: 0;
  bottom: 15px;
  padding: 5px;

  transition: 0.6s;
  opacity: 0;
}
.hover-player-a {
  flex-shrink: 0;
}
.player-btn {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem;
  font-weight: 700;
  font-family: var(
    --font-family,
    CircularSp,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts, sans-serif)
  );
  background-color: transparent;
  border: 0px;
  border-radius: 500px;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  touch-action: manipulation;
  transition-duration: 33ms;
  transition-property: background-color, border-color, color, box-shadow, filter,
    transform;
  user-select: none;
  vertical-align: middle;
  transform: translate3d(0px, 0px, 0px);
  padding: 0px;
  min-inline-size: 0px;
  align-self: center;
}
.player-btn-span {
  overflow-wrap: anywhere;
  box-sizing: border-box;

  position: relative;
  background-color: #1ed760;
  color: var(--text-base, #000000);
  display: flex;
  border-radius: 500px;
  font-size: inherit;

  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  inline-size: 48px;
  block-size: 48px;
}
.player-btn-span-a {
  display: flex;
  position: absolute;
}
.icon-li {
  color:var(--color-text-3);
}
//ListItem
.warrper {
  padding-bottom: 12px;
}
.top-list {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;
  justify-items: center;
}
.top-list-lefr {
  flex-grow: 1;
  min-width: 0;
}
.titel-list {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin-block: 0px;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(
    --font-family,
    CircularSpTitle,
    CircularSpTitle-Tall,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts, sans-serif)
  );
  color: var(--color-text-5);
  &:hover {
    text-decoration: underline;
    color: var(--color-text-3);
  }
}
.more-list {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin-block: 0px;
  font-size: 0.625rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: var(
    --font-family,
    CircularSp,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts, sans-serif)
  );
  font-size: 0.75rem;
  color: var(--color-text-3);
  &:hover {
    text-decoration: underline;
    color: var(--color-text-3);
  }
}
.list {
  grid-auto-rows: 0;
  grid-template-rows: 1fr;
  overflow-y: hidden;
}
.sort {
  grid-gap: var(--grid-gap);
  display: grid;
  grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
}
.img:hover .img-card form.hover-player {
  right: 10px;
  visibility: visible;
  opacity: 1;
}
#block {
  pointer-events: none;
}
.sort-row {
  grid-auto-rows: auto;
  padding-bottom: 100px;
  border-bottom: 2px solid #333;
}
