@import "~bootstrap/scss/bootstrap";

.warrper {
  display: grid;
  grid-template-areas:
    "top-bar         top-bar   top-bar "
    "nav-bar         main-view   nav-list"
    "now-playing-bar now-playing-bar  now-playing-bar";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  height: 120px;

  position: relative;
  width: 100%;
}

.header-bar {
  grid-area: main-view;
  height: var(--height-header);
  min-width: 0;
  // pointer-events: none;
  z-index: 1;
  padding-top: var(--height-header);
}
.tabs {
  display: flex;
  align-items: flex-end;
}
//header-bar
#active {
  color: var(--green) !important;
  border-bottom-color: currentColor;
}
.title-headr-bar {
  font-size: 24px;
  color: aliceblue !important;
  font-weight: 700 !important;
  border-right-color: #2f2e3d;
}
.tabs .tab-item {
  white-space: nowrap;
  padding: 10px 15px;
  cursor: pointer;
  color: #999;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  border-bottom: 1px solid transparent;
  border-bottom-color: currentColor;
}
.backgroung-color {
  background-color: rgba(0, 0, 0, 0.5);
}
