.main-view-container {
  padding: var(--padding-main-view);
  padding-bottom: 24px;
  width: 100%;
  height: 100vh;

  background-image: url(https://i.gifer.com/75xT.gif);

  background-repeat: round;
  background-size: 100%;
  display: grid;

  overflow-x: auto;
}
.pad-top {
  padding-top: var(--height-header);
}
.main-view-top {
  display: grid;
  grid-template-areas: "left   right ";

  grid-template-columns: 30% 70%;
}
.playlist {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  height: 100%;
  width: 100%;
}
.view-left {
  grid-area: left;
  padding-bottom: 24px;
  text-align: -webkit-center;
  padding-top: inherit;
}

.view-right {
  grid-area: right;

  height: 100vh;
}
.list-item {
  grid-area: list;
  padding-bottom: 120px;
}

.scroll {
  overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background: rgb(15, 23, 42);
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: rgb(148, 163, 184);
  border-radius: 4px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}
