.warrper {
    grid-column: 5/13;
    // grid-row: 2/12;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 0.125rem;
  }
  
  .warrper::-webkit-scrollbar {
    width: 0rem;
  }
  
  /* Track */
  .warrper::-webkit-scrollbar-track {
    background: rgb(15, 23, 42);
  }
  
  /* Handle */
  .warrper::-webkit-scrollbar-thumb {
    background: rgb(148, 163, 184);
    border-radius: 0.25rem;
  }
  
  /* Handle on hover */
  .warrper::-webkit-scrollbar-thumb:hover {
    background: #ccc;
  }
  
  @media (max-width: 47.5rem) {
    .warrper {
      grid-column: 1/13;
    }
  }
  
  .warrper.header:hover {
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
    background-color: initial;
  }
  
  .song-item.header > * {
    color: #eee !important;
  }
  .song-item {
margin-left: 2rem;
  width:90%;
  height: fit-content;
  display: grid;
  grid-template-columns: 6% 90%;
  padding: 0.625rem 0.313rem;
  transition: all 0.1s ease-in-out;
  position: relative;
  align-items: center;
}
