.progress {
  width: 6.25rem;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 2rem;
svg{
  font-size:  var(--size-text-4);
  margin-right: 0.6rem;
}
  }

/* The slider itself */
.slider {
  appearance: none;
  width: 6.25rem; /* Full-width */
  height: 0.25rem; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none;
  border-radius: 624.938rem;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 0.5rem; /* Set a specific slider handle width */
  height: 0.5rem; /* Slider handle height */
  background: var(--color-3); /* Green background */
  border-radius: 624.938rem;
}

.slider::-moz-range-thumb {
  width: 0.25rem; /* Set a specific slider handle width */
  height: 0.25rem; /* Slider handle height */
  background: var(--color-3); /* Green background */
  border-radius: 624.938rem;
}

.tooltip {
  color: #d3d3d3;
  font-size: 0.8rem;
}
input[type=range] {
  -webkit-appearance: none;
  height: 0.188rem ;
  background:var(--color-4);
  border-radius: 0.313rem;
  background-image: linear-gradient(var( --color-3), var( --color-3));
  background-repeat: no-repeat;
}
input[type=range]:hover{
  transition:  0.3s ease-in-out;
  height: 0.313rem;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  opacity: 0;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: var( --color-3);
  cursor: pointer;
  box-shadow: 0 0 0.125rem 0 #555;
}
  input[type=range]::-webkit-slider-thumb:hover {
    -webkit-appearance: none;
    opacity: 1;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: var( --color-3);
    cursor: pointer;
    box-shadow: 0 0 0.125rem 0 #555;

  }