.progress {
  width: 6.25rem;
  height: 100%;
  display: flex;
  align-items: center;
}

/* The slider itself */
.slider {
  appearance: none;
  width: 6.25rem; /* Full-width */
  height: 0.25rem; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none;
  border-radius: 624.938rem;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 0.5rem; /* Set a specific slider handle width */
  height: 0.5rem; /* Slider handle height */
  background: #2a8eb9; /* Green background */
  border-radius: 624.938rem;
}

.slider::-moz-range-thumb {
  width: 0.25rem; /* Set a specific slider handle width */
  height: 0.25rem; /* Slider handle height */
  background: #2a8eb9; /* Green background */
  border-radius: 624.938rem;
}

.tooltip {
  color: #d3d3d3;
  font-size: 0.8rem;
}
