.main-view-container {
  padding: var(--padding-main-view);
  // padding-bottom: 1.5rem;
  width: 100%;
  height: fit-content;

  // background-image: url(https://i.gifer.com/75xT.gif);

  background-repeat: round;
  background-size: 100%;
  display: grid;


}
.pad-top {
  padding-top: var(--height-header);
}
.main-view-top {
  display: grid;
  grid-template-areas: "left   right ";

  grid-template-columns: 30% 70%;
}
.playlist {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  height: 100%;
  width: 100%;
}
.view-left {
  grid-area: left;
  padding-bottom: 1.5rem;
  text-align: -webkit-center;
  padding-top: inherit;
}

.view-right {
  grid-area: right;

  height: 90vh;
  padding-bottom: 11.25rem;
}
.list-item {
  grid-area: list;

}

.scroll {
  overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
  width: 0rem;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background: rgb(15, 23, 42);
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: rgb(148, 163, 184);
  border-radius: 0.25rem;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}
.pa{
  margin-top: 2.2rem;
}