@import "~bootstrap/scss/bootstrap";

.main-view-container {
  padding: var(--padding-main-view);
 
  overflow-x: auto;
}
.top-padding {
  height: var(--height-header);
  flex: 1;
  position: relative;
}
.slide {
 button{
  position: inherit !important;
  z-index: 1 !important;
  opacity: 0;
 }
}
.slide:hover{
  button{
    position: inherit !important;
    z-index: 1 !important;
    opacity: 1;
   }
}