.wrapper {
 
  overflow-x: auto;
  margin-top: 3rem;
}

.container-song {
  padding: var(--padding-main-view);

  margin-top: 2rem;
}
.content-song{
display: flex;
justify-content: space-between;
align-items: baseline;
}
.title {
  box-sizing: border-box;
  margin-block: 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(
    --font-family,
    CircularSpTitle,
    CircularSpTitle-Tall,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts, sans-serif)
  );
  color: var(--color-text-5);
  padding: 1rem 1rem 1rem 0rem;
}
.title-right{
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin-block: 0rem;
  font-size: 0.625rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: var(--font-family, CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));
  font-size: 0.75rem;
  color: var(--color-text-3);
  cursor: pointer;
}
.list-item {
  padding: var(--padding-main-view);

  margin-top: 2rem;


}
