.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.logo {
  display: flex;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  color: white;
}
.link-logo {
  /* border: 0; */
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 1.125rem;
  padding: 0 1.5rem;
}
.muzic-logo {
  height: 10rem;
  margin-top: -3.5rem;
  max-width: 11.938rem;
  width: 100%;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.user-avatar {
  height: 2.875rem;
  width: 2.875rem;
  border-radius: 5.625rem;
  margin-top: 1rem;
}
.account {
  align-items: center;
}
