.main-view-container{
    height: fit-content;
    overflow: scroll;
    padding-bottom: 5rem;
    margin-top: 5.625rem;
    // margin-bottom: 5.625rem;
    // padding: 0 3rem;
}
.chart-container{
  padding: 0 3rem;
  margin-bottom: 4rem;
color: inherit;
}
.chart-content{
  display: flex;
  color: white;
  align-items: center;
  margin: 1rem 0 1.6rem 0.8rem;
  h3{
    background: radial-gradient(50% 124.93% at 95.86% -10%,#3efad9 0,hsla(0,0%,100%,0) 100%),linear-gradient(91.56deg,#ff9357 1.54%,#9100ff 98.71%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
  }

}
.icon-play{
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  margin-left: 0.75rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.chart{
  height: 20rem !important;
   width:100% !important;

  margin-bottom: 2rem;

  
}

.chart-all{
display: flex;
flex-direction: column;
position: relative;
}
.bg-blur{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  background: url(https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.9.57/static/media/week-chart-bg.edf332e5.jpg) top/cover no-repeat;
 
  filter: grayscale(1);
}
.bg-alpha{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--chart-bg-img-alpha);
 
}
.container-chart-all{
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  width: 100%;
  justify-content: space-around;
  position: relative;
 
}
.chart-mini{
  border-radius: 1rem;
  background-color: var(--chart-box-bg-alpha);
  padding: 1.25rem 0.625rem;
  width: 40%;
 
}
.content-chart-all{
  position: relative;
  padding: 2rem 4rem;
  width: fit-content;
  text-transform: capitalize;
 
  font-size: 2.5rem;
  font-weight: 650;
  line-height: normal;
  color: var(--color-text-6);
 p{
  padding: 0;
  margin: 0;
 }
}
.content-chart-mini{
  position: relative;
  padding: 0 2rem;
  padding-bottom: 0.6rem;
  width: fit-content;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
  color: var(--color-text-6);
  display: flex;
 p{
  padding: 0;
  margin: 0;
 }
 path{
  display: flex;
  flex-direction: row;
  font-weight: 700;
  color: var(--color-impo-1);
  line-height: normal;
 }
 span{
  margin-left: 0.2rem;
  
 }
}
.loading-chart{

  color:#FF0000;
 
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: inherit;
}