// Menu wrapper
.menu-list {
 
 width: fit-content;
 min-width: 18rem;
  height: 345px;
  list-style: none;
  
}

.menu-warpper {
display: flex;
flex-direction: column;
padding: 20px;

}
.infor{
  display: flex;
  flex-direction: row;
  background-color: var(--color-line-2);
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  
}
.name{
  margin:10px 0px 0px 16px;
  display: flex;
  flex-direction: column;
  p{
    padding: 0;
    margin: 0;
    font-size: var(--size-text-4);
    font-weight: var(--weight-text);
    color: var(--color-text-5);
  }
}
.type-use{
  background-color: var(--color-type-bg);
  color: var(--theme-1);
  border-radius: 8px;
  font-size: 0.7rem;
  width: 3rem;
  margin-top: 0.2rem;
  font-weight: 650;
  display: flex;
  letter-spacing: 0.08rem;
  padding: 0 0.2rem;
  align-items: center;
  justify-content: center;
}
line{
  border-top: 2px solid var(--color-line-2);
 width: 100%;
 margin: 12px 0;

}
.user-avatar{
  border-radius: 100%;
  width: 64px;
  height: 64px;
}
.img-avatar {
  height: 40px;
  width: 40px;
  border-radius: 90px;
  margin-right: 4px;
  float: left;
  cursor: pointer;
}
.edit{
 display: flex; 
 flex-direction: column;
 align-items: flex-start;
}
.content{
  font-size: var(--size-text-4);
  color: var(--color-text-5);
}
.btn{
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding: 0.6rem;
  align-items: center;
  width: 100%;
  svg{
    color:var(--color-text-side);
  }
}
.btn:hover{
  background-color: var(--color-hover-1);
  border-radius: 6px;
  svg{
    color:var(--color-text-6);
  }
  .title{
    color:var(--color-text-6);
  }
}
.title{
  font-size: var(--size-text-2);
  margin: 0px 0px 0px 12px;
  color: var(--color-text-side);
}
.icon{
  font-size: var(--size-text-3);
}

.update-btn{
  background-color: var(--color-line-2);
  color: var(--color-text-5);
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  border-radius: 1rem;
  padding: 0.3rem 0;
  font-size: var(--size-text-1);

}
.update-btn:hover{
  color:var(--color-impo-1) ;
}