// Menu wrapper
.menu-list {
  max-width: 350px;
 width: fit-content;
 min-width: 200px;
  height: 345px;
  list-style: none;
  
}

.menu-warpper {
display: flex;
flex-direction: column;
padding: 20px;

}
.infor{
  display: flex;
  flex-direction: row;
  
}
.name{
  font-size: var(--size-text-4);
  margin:10px 0px 0px 16px;
  font-weight: var(--weight-text);
}

line{
  border-top: 1px solid var(--color-6);
 width: 100%;
 margin: 12px 0;

}
.user-avatar{
  border-radius: 100%;
  width: 64px;
  height: 64px;
}
.img-avatar {
  height: 40px;
  width: 40px;
  border-radius: 90px;
  margin-right: 4px;
  float: left;
  cursor: pointer;
}
.edit{
 display: flex; 
 flex-direction: column;
 align-items: flex-start;
}
.content{
  font-size: var(--size-text-4);
}
.btn{
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding: 4px;
  align-items: center;
  width: 100%;
}
.btn:hover{
  background-color: var(--color-hover-1);
  border-radius: 6px;
  svg{
    color:var(--color-3);
  }
  .title{
    color:var(--color-3);
  }
}
.title{
  font-size: var(--size-text-2);
  margin: 0px 0px 0px 12px;
}
.icon{
  font-size: var(--size-text-3);
}