.wrapper {
  display: flex;
  align-items: center;
  padding: 6px 0;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background: var(--color-hover-2);
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  flex: 1;
  margin-left: 12px;
}

.name {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  color: var(--color-text-5);
}

.check {
  margin-left: 6px;
  color: rgb(32, 213, 236);
}

.username {
  font-size: 12px;
  color: var(--color-text-3);
}
.name-search {
  display: flex;
  align-items: center;
  padding-left: 6px;
  width: 100%;
  svg {
    font-size: var(--size-text-4);
    color: var(--color-text-5);
  }
  span {

    padding-left: 12px;
    color: var(--color-text-5);
    overflow: hidden;
    text-overflow: ellipsis ;
    white-space: nowrap;
    width: 100%;
    font-weight: var(--weight-text-2);
    font-size: var(--size-text-2);
  }
}
.text-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--color-text-5);
}
