.logo {
  display: flex;
  padding-bottom: 24px;
  padding-top: 16px;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  color: white;
}
.link-logo {
  /* border: 0; */
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 18px;
  padding: 0 24px;
}
.muzic-logo {
  height: 40px;
  max-width: 131px;
  width: 100%;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.user-avatar {
  height: 46px;
  width: 46px;
  border-radius: 90px;
  margin-top: 16px;
}
.account {
  align-items: center;
}
