// Menu wrapper
.menu-list {
  width: 160px;
  list-style: none;
  max-height: calc(20vh);
  max-width: 350px;
  min-width: 160px;

  padding: 4px;
  border-bottom: 1px solid;
}

.menu-popper {
  padding-bottom: 8px;
}

.menu-body {
  width: 100%;
  list-style: none;
  padding-left: 0px;
}

// Menu items
.menu-item {
  width: 100%;
  justify-content: flex-start;
  border-radius: 0;
  padding: 11px 16px;
  line-height: 1.4rem;
  font-weight: 600;
  background-color: #333;
  color: white;
  margin: 0 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
  }

  &:hover {
    background-color: rgba(22, 24, 35, 0.03) !important;
    color: black;
  }
}
