.wrapper {
  background: url(https://zingmp3.vn/vip/images/background/plus.png) bottom/cover no-repeat;

  overflow: auto;
  min-height: 90vh;
  height: fit-content;
}
.container {

//  height: 100%;
  min-height: 100vh;
  padding: 0px 21%;
 

}
.header {
  background-color: black;
  height: 80px;
}

.content {
}
.footer {
  background-color: black;
  height: 120px;
}
