// Menu wrapper

.menu-list {
  width: 160px;
  max-height: calc(20vh);
  width: 200px;
 
}


.menu-body {
 display: flex;
 flex-direction: column;
 list-style: none;
 border-radius: 0%;
 margin: 0 !important;
 padding: 12px 0px ;
}

// Menu items
.menu-item {
 color: var(--color-text);
 padding: 8px 0px;
 font-size: var( --size-text-4);
}
.icon{
  font-size: var( --size-text-4);
  margin-right: 12px;
  margin-left: 18px;
}
.menu-item:hover{

  svg{
    color: var(--color-3);
  }
  color: var(--color-3);
  background-color: var(--color-hover-1);
}