.container-list{
  display: flex;
  flex-direction: row;
}
// Menu wrapper
.menu-list {
  width: 17.5rem;
  list-style: none;
  box-shadow: rgb(0 0 0 / 12%) 0rem 0.125rem 0.75rem;
}
.menu-warpper{
  // padding: 0.875rem;
  display: flex;
  flex-direction: column;
}
.menu-popper {
  // padding-bottom: 0.5rem;
}


// Menu items

.song-infor{
  display: flex;
  flex-direction: row;
  margin-bottom: 0.625rem;
  padding: 0.25rem 0.25rem;
  margin: 0.875rem 0.875rem 0.625rem 0.875rem;
  background-color: var(--color-line-2);
  border-radius: 0.375rem;
}
.content-infor{
 padding-left: 0.375rem;
  width: 80%;
  p{
    padding: 0;
  margin: 0;
}
svg{
  font-size: var(--size-text-4);
  padding: 0 0.3rem;
}
}
.song-name{
  color: var(--color-text);
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.song-img{
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 0.375rem;
}
.menu-body {
display: flex;
flex-direction: column;
  list-style: none;
  margin: 0rem 0rem 0.875rem 0rem;
  padding: 0;
}
.menu-item {
display: flex;
flex-direction: row;
align-items: center;
padding: 0.5rem 1rem;
width: 100%;
}

.title{
  padding-left: 0.75rem;
  margin: 0;
}
.menu-more{
  font-size: var(--size-text-4);
  margin-left: 5rem;
  float:right;
}
.menu-icon{
  font-size: var(--size-text-4);
}
.menu-item:hover{
  background-color: var(--color-6);
  cursor: pointer;
  svg{
    color: var(--color-3);
  }
  p{
    color: var(--color-3);
  }

}
.icon-li{
  font-size: var(--size-text-4);
  opacity: 0.5;
}
.menu-playlist{
  display: none;
}
.active{
display: block;
overflow: auto;
background: var( --background-base);
border-radius: 0.5rem;
box-shadow: rgb(0 0 0 / 12%) 0rem 0.125rem 0.75rem;
left: -14.375rem;
top:2.5rem;
height: 21.25rem;
position: absolute; 
padding: 0;
margin: 0;
width: 14.75rem;
overflow: inherit;
z-index: 999;
}
.menu-list-item{
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.5rem 1rem;
width: 100%;

p{
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
svg{
  font-size: var(--size-text-4);
  margin-right: 0.75rem;
}
}
.menu-list-item:hover{
  background-color: var(--color-6);

  cursor: pointer;
  svg{
    color: var(--color-3);
  }
  p{
    color: var(--color-3);
  }

}
.add-icon{
  background-image: url(https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.9.52/static/media/thumb-add.2971eb21.svg);
  padding: 1rem 0.25rem 1rem 1rem;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 0.625rem;

}
.fist{
  border-bottom: 0.063rem solid var(--color-6);
}
.list-playlist{
  padding: 0;
margin: 0;
height: 10rem;
overflow:auto;
flex-direction: column;
}