.warrper{
    height: 10rem;
}

.slide {
 
 
  }
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    width:90%;
    border-radius: 5px;
    margin-left: 30px;
}
