.warrper{
    height: 10rem;
}

.slide {
 
 
  }
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
 
    height: 220px;
    width: 360px;
    border-radius: 5px;
    margin-left: 30px;
}
