.wrapper {
  margin-bottom: 5.8rem;
  overflow-x: auto;
}
.container{
  padding: 0 2rem;
}
.container-song {
  padding: var(--padding-main-view);
  margin-top: 3rem;
}
.title {
  box-sizing: border-box;
  margin-block: 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(
    --font-family,
    CircularSpTitle,
    CircularSpTitle-Tall,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts, sans-serif)
  );
  color: var(--color-text-5);
  padding: 1rem 1rem 1rem 0rem;
}
.list-item {
  padding: var(--padding-main-view);
}


//header-bar

.header-bar {
  grid-area: main-view;
  height: var(--height-header);
  min-width: 0;
margin: 1.25rem 0rem;
  z-index: 1;
  padding-top: var(--height-header);
 
}
.tabs {
  display: flex;
  align-items: flex-end;
  border-bottom: 0.063rem solid var(--color-line-2);
  padding-left: 4.5rem;
}
.active {
  border-bottom: 0.125rem solid var(--color-3) !important;
  p{
    color: var(--color-3) !important ;
  }
}
.title-headr-bar {
  font-size: 1.5rem;
  color: var(--color-text-5) !important ;
  font-weight: 700 !important;
  border-right-color:  var(--color-line-2) !important;
}
.tab-item {
  white-space: nowrap;
  padding: 0.625rem 0.938rem;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;


  p{ 
     color: var(--color-text-side) ;
     margin: 0;
     padding: 0;;
    }
}
