.song-item {
  color: var( --color-text-5);
  font-weight: var(--weight-text-2);
  font-size:var(size-text-1) ;
  width: 98%;
  height: fit-content;
  display: grid;
  grid-template-columns: 10% 50% 30% 10%;
  padding: 10px 5px;
  transition: all 0.1s ease-in-out;
  position: relative;
}

.song-item:hover {
  background-color: var(--color-hover-1);
  border-radius: 3px;
  color: var( --color-text-3);
  cursor: default;
}

.index {
  width: 30px;
  height: 30px;
  text-align: center;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.song-item > * {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: inherit;
  align-content: center;
  flex-wrap: wrap;
}

.song-item > .name {
  justify-content: flex-start !important;
}

.item-control > svg,
a {
  color: inherit;
}
a > svg {
  color: inherit;
  transition: all 0.1s ease-in-out;
}
a > svg:hover {
  color: #eee;
}

.selector > svg:hover {
  color: #38bdf8;
}
.icon-dow {
  float: right;
  right: 0;
  
}

.icon-dow:hover {
  color: var(--color-3) !important;

}
.small-icon {
  width: 16px;
  height: 16px;
  color: inherit;
  margin: 0px;
}

.song-item.header > * > * {
  color: inherit;
}
#actie {
  background-color: var(--background-active);
  border-radius: 6px;
}
.icon-img {
  width: 40px;
  height: 40px;
  position: inherit;
  cursor: pointer;
  border-radius: 6px;
}
.hover-like {
  margin-bottom: 0;
  bottom: 15px;
  visibility: hidden;
  padding: 5px;
  opacity: 0;
  padding-right: 18px;
}
.song-item:hover .selector form.hover-like {
  visibility: visible;
  opacity: 1;
}
.song-item:hover .selector form.hover-like {
  visibility: visible;
  opacity: 1;
}
.mess-song {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  /* top: 0; */
  right: 0;
  left: 0;
  bottom: 100px;
}
#focused{
  zoom: 0.6;
}
.flex-img{
  position: absolute;
}