#player {
  grid-column: 1/13;
  grid-row: 8/9;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-2);
  flex-wrap: wrap;
  height: 100px;
  border-top: 1px solid var(--color-line-1);

}

i.fas,
svg {
  color: var(--color-text);
  font-size: 1.5rem;
  margin: 0px 3rem;
  transition: all 0.19s ease-in-out;
}
#active > svg {
  color: var(--color-3);
}

#active {
  .reicon {
    color: var(--color-3);
  }
}
i.fas.fa-repeat{
  height: 22px !important;
  width: 22px !important;
}
i.fas.fa-play-circle,
i.fas.fa-pause-circle {
  font-size: 1.9rem;
}
.control,
i {
  color: #e2e8f0;
}

/* #player:hover {
    cursor: pointer;
} */

.main-control > i:hover,
.control > svg:hover {
  color: var(--color-3);
}

i:hover,
svg:hover {
  // transform: scale(1.3);
}
.player-left {
  width: 15%;

}
.player-right {
  flex: 1 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  // flex-wrap: wrap;
  align-content: flex-start;
}
.player-img {
  img {
    height: 62px;
    margin-left: 1.2rem;
    
    border-radius: var(--card-image-border-radius);
  }
}
.right-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  svg {
    font-size: 2.5em !important;
  
  }
}
.right-bottom {
  display: flex;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 16px;
  align-items: center;
  input[type=range] {
    -webkit-appearance: none;
    height: 3px ;
    background:var(--color-4);
    border-radius: 5px;
    background-image: linear-gradient(var( --color-3), var( --color-3));
    background-repeat: no-repeat;
  }
  input[type=range]:hover{
    transition:  0.3s ease-in-out;
    height: 5px;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    opacity: 0;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var( --color-3);
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
  }
    input[type=range]::-webkit-slider-thumb:hover {
      -webkit-appearance: none;
      opacity: 1;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: var( --color-3);
      cursor: pointer;
      box-shadow: 0 0 2px 0 #555;

    }
  
}
.completed {
  width: 50% !important;
}
.completed:hover{

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var( --color-3);
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
      }
}
.css-3g5hux-Slider{
  background-color: var(--color-3) !important;
}
.control {
  padding: 0px 24px;
}
.song-detail {
  display: flex;
  justify-content: flex-start;
}

.header {
  color: var(--color-text-5);
 
  font-size: 14px;
    font-weight: 500;
    line-height: 1.36;
    text-overflow: clip;
    overflow: visible;
    display: flex;
    align-items: center;
}

.artist-name {
  color: var(--color-text);
  font-size: 14px;
}
.pad {
  text-overflow: ellipsis;
  width: max-content;
}
//time
.current-time {
  color: var(--color-text);
  padding: 0px 12px;
}
.artist-img{
  margin-left: 0.8rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  p {
    margin-bottom: 0 !important;
  }
}