.block {
  display: none;
}
#block-actie {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 104;

  display: flex !important;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.block-container {
  background-color: rgba(61, 122, 183, 0.33);
  display: flex;

  width: 810px;
  height: 400px;
}
.content {
  justify-content: center;
  padding: 64px;

  display: flex;
}
.img-content {
  align-items: center;

  display: flex;
  margin-left: 0;
  margin-right: 64px;
  img {
    width: 300px;
    height: 300px;
  }
}
.text-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  h2 {
    font-size: 32px;
    margin: 8px 0 24px;
    color: #fff;

    font-weight: 700;
    letter-spacing: -0.4px;
    line-height: normal;
  }
}
.btn-signup {
  position: relative;
  background-color: #1ed760;
  color: #000000;
  border-radius: 500px;
  font-size: inherit;
  padding-block: 14px;
  padding-inline: 32px;
  border: #000 0.5px solid;
  font-weight: 700;
}

.title {
  font-weight: 600;
  color: #fff;
  display: flex;
}
.btn-login {
  background-color: inherit;
  font-weight: 700;
  color: rgb(168, 160, 160);
  padding-left: 8px;
}
.btn-remove {
  background-color: white;
  font-weight: 700;
  color: rgb(168, 160, 160);
  padding-left: 8px;
  height: 18px;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.main-form {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #141414;
}
.group-main {
  box-sizing: border-box;
  padding-block-end: 12px;
}

.title-group {
  box-sizing: border-box;

  font-size: 0.875rem;
  line-height: 1.25rem;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  font-weight: 700;
  inline-size: 100%;
  padding-block-end: 8px;
}
.input-value {
  appearance: none;
  background-image: none;
  border: 0px;
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  transition: box-shadow 0.1s ease-in-out 0s, color 0.1s ease-in-out 0s;
  inline-size: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 14px;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px #878787;
  color: #000000;
}
.list-container {
  background-color: #36588b69;
  display: flex;
  width: 810px;
  height: 460px;
}
.label-title-list {
  color: wheat;
}

.btn-submit {
  box-sizing: border-box;

  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  background-color: transparent;
  border: 0px;
  border-radius: 500px;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  touch-action: manipulation;
  transition-duration: 33ms;
  transition-property: background-color, border-color, color, box-shadow, filter,
    transform;
  user-select: none;
  vertical-align: middle;
  transform: translate3d(0px, 0px, 0px);
  padding-top: 10px;
  min-inline-size: 0px;
  align-self: center;
  :hover {
    transform: scale(1.04);
  }
}
.btn-submit-title {
  position: relative;
  background-color: #1ed760;
  color: #000000;
  border-radius: 500px;
  font-size: inherit;
  padding-block: 14px;
  padding-inline: 32px;
}
