@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap");

:root {
// color:
 --color-1:#F2F2F2;
 --color-2:#FFFFFF;
 --color-3:#8D22C3;
 --color-4:#E5E5E5;
 --color-hover-1:#E6E6E6;
 --color-text:#32323d;
 --color-text-2:#FCFAFE; 
 --color-text-3:#00000099;
 --color-text-4:#FFFFFF99;
 --color-text-5:#000000;
 --color-line-1:rgba(0,0,0,0.05);
 --color-line-2:rgba(0,0,0,0.1);
 --color-header:#FFFFFF;
 --color-7:#231B2E;
 --weight-text:700;
 --weight-text-2:500;
 --weight-text-3:400;
 --size-text-1:13px;
 --size-text-2:14px;
 --size-text-3:14px;
 --header-box-shadow:rgba(0,0,0,0.08);
 --padding-list:0px 27px ;
 --card-image-border-radius: clamp( 4px, (var(--column-width, 0px) - 32px) * 0.025, 8px );


  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --black: black;
  --background-color: #333;
  --primary: #fe2c55;

  --white: white;
  --default-layout-horizontal-spacer: 24px;
  --nav-bar-width: 232px;
  --text-subdued: #a7a7a7;
  --background-base: #fff;
  --background-highlight: #f6f6f6;
  --background-press: #b7b7b7;
  --background-elevated-base: #fff;
  --background-elevated-highlight: #fff;
  --background-elevated-press: #fff;
  --background-tinted-base: #fff;
  --background-tinted-highlight: #fff;
  --background-tinted-press: #fff;
  --background-unsafe-for-small-text-base: #fff;
  --background-unsafe-for-small-text-highlight: #fff;
  --background-unsafe-for-small-text-press: #fff;
  --text-base: #000;
  --text-subdued: #5e5e5e;
  --text-bright-accent: #12833a;
  --text-negative: #000;
  --text-warning: #000;
  --text-positive: #000;
  --text-announcement: #000;
  --essential-base: #000;
  --essential-subdued: #8f8f8f;
  --essential-bright-accent: #17a449;
  --essential-negative: #000;
  --essential-warning: #000;
  --essential-positive: #000;
  --essential-announcement: #000;
  --decorative-base: #000;
  --decorative-subdued: #dedede;
  --opacity: 0.5;
  --padding-main-view: 24px 32px 0px;
  --tw-text-opacity: 1;
  --height-header: 64px;
  --background-active: #3333334d;
  --green: #1ed760;
  --gray-70: #b3b3b3;
  --column-width: 181px;
  --column-count: 5;
  --grid-gap: 24px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
}
button,
input,
[tabindex] {
  border: none;
  outline: none;
}
a[href] {
  color: inherit;
  text-decoration: none;
  color: inherit;
}
a[href]:hover {
  color: inherit;

  text-decoration: none;
}
.top-padding {
  height: var(--height-header);
  flex: 1;
  position: relative;
}
svg {
  margin: 0;
}
.scroll {
  overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background: rgb(15, 23, 42);
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: rgb(148, 163, 184);
  border-radius: 4px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}
.mess {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  position: inherit;
  bottom: 100px;
}
