:root {
  --padding: 0 24px;
  --padding-li: 0 8px;
}

.warrper {
  cursor: default;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  padding-top: 24px;
  user-select: none;
  width: fit-content;
  position: fixed;
  width: inherit;
}

.logo {
  display: flex;
  padding-bottom: 24px;
  padding-top: 16px;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  color: white;
  padding: var(--padding);
  padding-top: 16px;
  padding-bottom: 24px;
}
.link-logo {
  /* border: 0; */
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 18px;
  padding: 0 24px;
}
.muzic-logo {
  height: 40px;
  max-width: 131px;
  width: 100%;
}

//list
.content-list {
  list-style: none;
  width: inherit;
}
.content {
  padding: var(--padding-li);
  // opacity: 0.6;
  width: 100%;
  border-left: solid 3px var(--theme-1);

}
.content:hover{

  svg{
    color: var(--color-text-6);
  }
 .titel{
    color: var(--color-text-6);
 }

}
.content-link {
  box-align: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  gap: 16px;
  height: 40px;
  padding: 0 16px;
}
.icon-li {
  flex-shrink: 0;
  height: 20px;
  width: 20px;
  color: var(--color-text-side);
  font-weight: 400;
}
.titel {
  color: var(--color-text-side);
  font-weight: var(--weight-text-2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 6px 0px;
}
//Album
.album {
  padding-left: 8px;
  width: inherit;
  border-top: 1px solid var(--color-line-2);
  position: fixed;
    bottom: 100px;
}
.album-btn {
  display: flex;
  gap: 16px;
  padding: 12px 0px 0px 20px;
 
  width: 100%;
  color: var(--color-text-side);
  font-weight: var(--weight-text-2);
  font-size: var(--size-text-2);
  background-color: transparent;
  justify-content: flex-start;
  align-items: center;

}
.album-btn:hover{

  .album-list-titel{
    color: var(--color-text-6);
  }
}
.icon-albu {
  flex-shrink: 0;
  font-size: 0.4rem;
  height: 22px;
  width: 22px;
  background-color: var(--theme-3);
  color: var(--color-1);
  border-radius: 8px;
}
.blu {
  background-color: rgb(49, 70, 139);
  color: rgb(175, 169, 169);
}
.album-list-titel {
  // color: var(--color-text);
  // font-weight: var(--weight-text);
}
//active
.active {
  opacity: 1.2 !important;
  background-color: var(--color-hover-1);
border-left: solid 3px var(--color-3);
svg{
  color: var(--color-text-6);
}
.titel{
  color: var(--color-text-6);
}
}
.album-list {
  padding-top: 16px;
  list-style: none;
  width: inherit;
  padding-left: 20px;
}
.list-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 20px;
}
.icon-delete {
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
}

.list-name:hover form.icon-delete {
  visibility: visible;
  opacity: 1;
  color: var(--color-3)
}
.line{
  border-top: 2px solid var(--color-line-2);
 width: 80%;
 margin: 10%;

}
.co{
  width: 80%;
}