.wrapper {
  background-image: linear-gradient(
    rgb(33, 44, 57),
    rgb(18, 30, 61) 50%,
    rgb(0, 0, 0)
  );
  overflow: auto;
  height: 100vh;
}
.container {
  display: grid;
  grid-template-areas: "right left  ";
  grid-template-columns: 25% 75%;
//  height: 100%;
  min-height: 100vh;
  padding: 0rem 25%;
 

}
.header {
  background-color: black;
  height: 5rem;
}
.slider {
  grid-area: right;
  background-image: linear-gradient(
    to right,
    rgb(28, 28, 28) 0%,
    rgb(23, 23, 23) 100%
  );
}
.content {
  grid-area: left;
  background-color: white;
}
.footer {
  background-color: black;
  height: 11.25rem;
}
